html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: black;
    scrollbar-color: chartreuse black;
    scroll-behavior: smooth;
}
*{
    color: white;
}
@font-face {
    font-family: 'Akira';
    src: url(./akira.otf);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.logo img{
    background-color: white;
    padding: 5px;
    border-radius: 60px;
    height: 40px;
    width: 40px;
}
.link{
    text-decoration: none;
    margin: 5px;
}
.link:hover{
    text-decoration: 2px underline chartreuse;
    margin: 5px;
}
.link-btn{
    padding: 7px 15px;
    border-radius: 8px;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
}
.header-banner{
    height: 90vh;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    padding-left: 1em;
}
.main-text{
    font-family: 'Akira' !important;
    font-size: 7vw;
}
.main-text p{
    margin: 0;
}
.info-text{
    font-size: 20px;
    text-transform: uppercase;
}
.header-banner button{
    padding: 20px 50px;
    border: none;
    background-color: chartreuse;
    font-family: 'Akira' !important;
    font-size: 1.2em;
    color: #2d3436;
}
.header-banner button:active{
    padding: 20px 50px;
    border: none;
    background-color: chartreuse;
    font-family: 'Akira' !important;
    font-size: 1.2em;
    color: #2d3436;
    transform: scale(0.95);
}
#sponsor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-mg{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.container-mg img{
    height: 100px;
}
.ban-shade{
    background-color: #2d3436;
    font-family: 'Akira' !important;
    height: 100px;
    width: 50%;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about{
    padding: 2em;
}
#about h1{
    font-family: 'Akira';
    font-size: 2em;
}
#about p{
    word-wrap: break-word;
}
#categories{
    padding: 2em;
}
#categories h1{
    font-family: 'Akira';
    font-size: 2em;
}
.container-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item-dom{
    padding: 1em;
    font-size: 1.5em;
    background-color: #2d3436;
    margin: 10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: end;
}
.item-dom:hover{
    padding: 1em;
    font-size: 1.5em;
    background-color: #2d3436;
    margin: 10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: end;
    box-shadow: chartreuse 10px 10px 10px;
    transition: 0.1s;
}
.item-dom:nth-child(1){ 
    background-image: url(1.png); 
    background-size: cover;
    background-position: center;
}
.item-dom:nth-child(2){ 
    background-image: url(2.png);
    background-size: cover;
    background-position: center; 
    
}
.item-dom:nth-child(3){ 
    background-image: url(3.jpeg); 
    background-size: cover;
    background-position: center;
    
}
.item-dom:nth-child(4){ 
    background-image: url(4.jpeg); 
    background-size: cover;
    background-position: center;
    
}
.item-dom:nth-child(5){ 
    background-image: url(6.png); 
    background-size: cover;
    background-position: center;
    
}
.item-dom:nth-child(6){ 
    background-image: url(5.jpg); 
    background-size: cover;
    background-position: center;
} 
#prizes{
    padding: 2em;
}
#prizes h1{
    font-family: 'Akira' !important;
    font-size: 2em;
}
.item-prz{
    background-color: #2d3436;
    padding: 0.6em;
    margin: 10px;
    border-radius: 20px;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.venue{
    padding: 2em;
}
.venue h1{
    font-family: 'Akira' !important;
    font-size: 2em;
}
.venue iframe{
    width: 100%;
    height: 70vh;
    border-radius: 20px;
}